.footer {
  background-color: #f2f2f2;
  height: 46px;
  list-style: none;
  padding: 20px;
}
.footer ul {
  margin-bottom: 0;
}
.footer ul li {
  padding: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.footer ul li a {
  text-decoration: none;
  color: #1f1f1f;
  padding-left: 14px;
}
.footer ul li a:hover {
  padding-bottom: 2px;
  text-decoration: underline;
  text-underline-offset: 3px; /* فاصله از متن */
}
