.logo {
  height: 72px;
}

.logo img {
  height: 92px;
}

.buttons button {
  background: #f8f9fa;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.buttons button:hover {
  border: solid 1px #e1e2e3;
}
