/* استایل‌های اضافی برای ورودی با کلاس‌های سفارشی */
.custom-input,
.searchInput {
  border: 1px solid rgb(223, 223, 223) !important; /* تغییر رنگ مرز */
  // border-radius: 50px; /* تغییر گردی مرز */
}
.searchInput {
  width: 580px;
  max-width: 580px;
  border: 1px solid #e1e2e3;
  padding: 0;
  // border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.icon {
  color: rgb(59, 59, 59);
}

//change the color of placeholder
::ng-deep input::placeholder {
  color: rgb(78, 76, 76) !important;
  opacity: 1;
}

// ------change the border-color of input -------------//
//mdc-notched-outline__leading"
//mdc-notched-outline__notch
//mdc-notched-outline__trailing
//mdc-text-field--outlined

:host ::ng-deep .mdc-text-field--outlined .mdc-notched-outline__leading {
  border-color: rgb(255, 255, 255) !important;
}
:host ::ng-deep .mdc-text-field--outlined .mdc-notched-outline__leading:active {
  border-color: rgb(255, 255, 255) !important;
}
:host ::ng-deep .mdc-text-field--outlined .mdc-notched-outline__notch {
  border-color: rgb(255, 255, 255) !important;
}
:host ::ng-deep .mdc-text-field--outlined .mdc-notched-outline__trailing {
  border-color: rgb(255, 255, 255) !important;
}
// ------change the border-color of input in hover mode -------------//

:host
  ::ng-deep
  .mdc-text-field--outlined.mdc-text-field--focused
  .mdc-notched-outline__trailing {
  border-color: rgb(255, 255, 255) !important;
}
:host
  ::ng-deep
  .mdc-text-field--outlined.mdc-text-field--focused
  .mdc-notched-outline__notch {
  border-color: rgb(255, 255, 255) !important;
}
:host
  ::ng-deep
  .mdc-text-field--outlined.mdc-text-field--focused
  .mdc-notched-outline__leading {
  border-color: rgb(255, 255, 255) !important;
}

//remove an onvisible box in bottom of input

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

//
::ng-deep .mat-mdc-autocomplete-panel {
  background-color: white !important;
  color: black;
  width: 100% !important;
  margin-top: -14px;
}

//change the color of text in auto complete
::ng-deep .mat-mdc-autocomplete-panel .mat-mdc-option {
  color: black !important;
}

::ng-deep .mat-mdc-autocomplete-panel .mat-mdc-option:hover {
  background-color: rgb(236, 236, 236) !important;
}
